header {
  background-color: #ccc;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5%;
}

.left-section {
  display: flex;
  align-items: center;
}

/* 로고 텍스트 */
.logo-txt {
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
