@font-face {
  font-family: 'NanumSquareR';
  src: url('./fonts/NanumSquareR.ttf') format('truetype');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'NanumSquareR';
  font-weight: bold;
}

.login-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 600px;
  max-width: 80%;
  margin: auto; /* 중앙 정렬 */
  display: flex; /* 수직 중앙 정렬 */
  flex-direction: column; /* 컨테이너 자식 수직 배열 */
  justify-content: center; /* 수직 중앙 정렬 */
}

/* 로고 이미지 */
.logo-ingda {
  margin: 0 auto;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  font-family: 'NanumSquareR';
  color: gray;
}

/* 이메일, 비밀번호 입력 */
.email-input,
.password-input {
  background-color: #fffcac;
  border: none;
  width: 250px;
}

/* 이메일, 비밀번호 입력 및 로그인 버튼 */
.email-input,
.password-input,
.login-btn {
  box-sizing: border-box;
  height: 40px;
}

button {
  padding: 8px;
  margin: 5px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  font-family: 'NanumSquareR';
  color: gray;
}

button:hover {
  background-color: #45a049;
  color: white;
}

/* 로그인 버튼 */
.login-btn {
  background-color: #c7fedd;
  border-radius: 15px;
  height: 40px;
}

input[type='checkbox'] {
  width: 20px;
}

a,
label {
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
}

a:hover {
  text-decoration: underline;
}

/* 소셜 로그인 */
.socialLogin {
  margin-top: 20px;
}

/* 소셜 로그인 이미지 */
.socialLogin img {
  margin-right: 20px;
  width: 35px;
  cursor: pointer;
}

.socialLogin img:last-child {
  margin-right: 0;
}
