@font-face {
  font-family: 'NanumSquareR';
  src: url('./fonts/NanumSquareR.ttf') format('truetype');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
  font-family: 'NanumSquareR';
  font-weight: bold;
  font-size: 12px;
}

/* 로고 이미지 */
.logo-ingda {
  align-self: center;
}

.register-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.label-container span {
  min-width: 120px;
  text-align: right;
}

.label-container input[type='checkbox'] {
  width: 7%;
}

.label-container .checkbox-group {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 37%;
  text-align: center;
  margin: 5px;
  font-size: 11px;
  font-family: 'NanumSquareR';
  background-color: #ccc;
}

/* 버튼 */
button {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 9px;
  background-color: #fffcac;
  color: gray;
}

button:hover {
  background-color: #45a049;
  color: white;
}

input[type='radio'] {
  width: 5%;
}

/* 비밀번호 힌트 */
.password-hint {
  font-size: 10px;
  margin: 0;
  font-weight: normal;
}

/* 회원가입 버튼 */
.register-btn {
  width: 100px;
  height: 30px;
  background-color: #c7fedd;
}
